<% if object.errors.any? %>
  <h5>Please, for the love of all that's holy, fix these errors:</h5>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
